.loginformbuttons {
  -fx-background-color: #221d53;
  -fx-text-fill: white;
  -fx-padding: 10px;
}

.loginformbuttons:hover{
    -fx-cursor:hand;
}

.signupformbuttons {
  -fx-background-color:  #F4B818;
  -fx-text-fill: black;
  -fx-padding: 10px;
}

.signupformbuttons:hover{
    -fx-cursor:hand;
}
